# pip install -r requirements.txt
# backup
# pip install torch==1.7.1+cu110 torchvision==0.8.2+cu110 -f https://download.pytorch.org/whl/torch_stable.html

supervisely==6.1.59

-f https://download.pytorch.org/whl/torch_stable.html
torch==1.7.1+cu110
-f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.8.2+cu110
